.quiz {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.start-btn {
  width: 140px;
  height: 40px;
  margin: 1rem;
  border: none;
  background: #4d5b9e;
  color: white;
  border-radius: 6px;
  font-family: "Karla", sans-serif;
  cursor: pointer;
}

.start-btn:focus {
  outline: none;
}

.start-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.container {
  margin-top: 30vh;
}

.check {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.yel-blob {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}

.blu-blob {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}
